doctype html
html
  head
    title Contact
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='contact.css')
    script(type='text/javascript', src='index.js')
          //- script(type='text/javascript', src='/main.js')

  body
    h1.contact-page Contact MartinLiemPham
     //- dropdown
    .dropdown
      button.dropbtn(onclick='myDropDownFunction()') Dropdown
      #myDropdown.dropdown-content
        a(href='projects') Projects
        a(href='about') About
        a(href='contact') Contact
        a(href='/') Home
      //- br
      //- a(href='/') Home
      //- br
      //- social media contact buttons
    div#facebook.socialMediaIcon(href='https://www.facebook.com/martin.pham.9028')
    div#instagram.socialMediaIcon(href='https://www.instagram.com/martinliempham/?hl=en')
    div#twitter.socialMediaIcon(href='https://twitter.com/MartinPham03')
    div#linkedin.socialMediaIcon(href='https://www.linkedin.com/in/martin-pham-67b9a9b4/')


      //- a(href='https://www.facebook.com/martin.pham.9028')
      //-     img(src="/SocialMediaIcon/FBlogo.png")
//- a(href='https://github.com/LouieAdamian')
//-   img(src="/img/GitHub.png")