doctype html
html
  head
    title Contact
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='contact.css')
    script(type='text/javascript', src='index.js')
          //- script(type='text/javascript', src='/main.js')

  body
    h1.contact-page Contact MartinLiemPham
     //- dropdown
    .dropdown
      button.dropbtn(onclick='myDropDownFunction()') Dropdown
      #myDropdown.dropdown-content
        a(href='projects.pug') Projects
        a(href='about.pug') About
        a(href='contact.pug') Contact
        a(href='/') Home
      //- br
      //- a(href='/') Home
      //- br
      //- social media contact buttons
    .socialMediaIcon
      a(href='https://www.facebook.com/martin.pham.9028') #[img(src='/SocialMediaIcon/FBlogo.png')]
        //- #facebook.socialMediaIcon
      a(href='https://www.instagram.com/martinliempham/?hl=en') #[img(src='/SocialMediaIcon/instalogo.png')]
        //- #instagram.socialMediaIcon
      a(href='https://twitter.com/MartinPham03') #[img(src='/SocialMediaIcon/twitterlogo.png')]
        //- #twitter.socialMediaIcon
      a(href='https://www.linkedin.com/in/martin-pham-67b9a9b4/') #[img(src='/SocialMediaIcon/linklogo.png')]
        //- #linkedin.socialMediaIcon
