doctype html
html
  head
    title Contact
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='contact.css')
    script(type='text/javascript', src='index.js')

  body
    h1.contact-page Contact MartinLiemPham
     //- dropdown
    .dropdown
      button.dropbtn(onclick='myDropDownFunction()') Dropdown
      #myDropdown.dropdown-content
        a(href='projects') Projects
        a(href='about') About
        a(href='contact') Contact
        a(href='/') Home
      
    div
    a(href='https://www.facebook.com/martin.pham.9028')
      div
        #facebook.socialMediaIcon

    a(href='https://www.instagram.com/martinliempham/?hl=en')
      div
        #instagram.socialMediaIcon
          
    a(href='https://twitter.com/MartinPham03')      
      div
        #twitter.socialMediaIcon
    a(href='https://www.linkedin.com/in/martin-pham-67b9a9b4/')
      div
        #linkedin.socialMediaIcon


      